In [1]:
import pandas as pd
import os
import matplotlib.colors as mcolors

In [2]:
# /Users/huzuwang/我的雲端硬碟/code/實驗室code/python/CFOptionPricing2/data/DE

In [8]:
df1 = pd.read_csv('/Users/huzuwang/我的雲端硬碟/code/實驗室code/python/CFOptionPricing2/data/DE/m_0_v_1/DE_m_0_v_1_l_01_1.csv') 
df2 = pd.read_csv('/Users/huzuwang/我的雲端硬碟/code/實驗室code/python/CFOptionPricing2/data/DE/m_0_v_1/DE_m_0_v_1_l_005_1.csv') 

df3 = pd.read_csv('/Users/huzuwang/我的雲端硬碟/code/實驗室code/python/CFOptionPricing2/data/DE/m_0_v_05/DE_m_0_v_05_l_01_1.csv')
df4 = pd.read_csv('/Users/huzuwang/我的雲端硬碟/code/實驗室code/python/CFOptionPricing2/data/DE/m_0_v_05/DE_m_0_v_05_l_005_1.csv') 

df5 = pd.read_csv('/Users/huzuwang/我的雲端硬碟/code/實驗室code/python/CFOptionPricing2/data/DE/m_0_v_15/DE_m_0_v_15_l_01_1.csv') 
df6 = pd.read_csv('/Users/huzuwang/我的雲端硬碟/code/實驗室code/python/CFOptionPricing2/data/DE/m_0_v_15/DE_m_0_v_15_l_005_1.csv') 


df7 = pd.read_csv('/Users/huzuwang/我的雲端硬碟/code/實驗室code/python/CFOptionPricing2/data/DE/m_05_v_1/DE_m_05_v_1_l_01_1.csv')
df8 = pd.read_csv('/Users/huzuwang/我的雲端硬碟/code/實驗室code/python/CFOptionPricing2/data/DE/m_05_v_1/DE_m_05_v_1_l_005_1.csv') 

df9 = pd.read_csv('/Users/huzuwang/我的雲端硬碟/code/實驗室code/python/CFOptionPricing2/data/DE/m_05_v_05/DE_m_05_v_05_l_01_1.csv') 
df10 = pd.read_csv('/Users/huzuwang/我的雲端硬碟/code/實驗室code/python/CFOptionPricing2/data/DE/m_05_v_05/DE_m_05_v_05_l_005_1.csv') 

df11 = pd.read_csv('/Users/huzuwang/我的雲端硬碟/code/實驗室code/python/CFOptionPricing2/data/DE/m_05_v_15/DE_m_05_v_15_l_01_1.csv')
df12 = pd.read_csv('/Users/huzuwang/我的雲端硬碟/code/實驗室code/python/CFOptionPricing2/data/DE/m_05_v_15/DE_m_05_v_15_l_005_1.csv')

In [4]:
df1

       S        call     delta     gamma      Vega      theta        rho
0      1   -0.000462 -0.000650 -0.000264 -0.000010   0.001422  -0.000047
1      2   -0.001225 -0.000862 -0.000175 -0.000026   0.003732  -0.000125
2      3   -0.002166 -0.001016 -0.000138 -0.000046   0.006560  -0.000220
3      4   -0.003247 -0.001142 -0.000116 -0.000070   0.009789  -0.000330
4      5   -0.004444 -0.001250 -0.000101 -0.000095   0.013352  -0.000451
..   ...         ...       ...       ...       ...        ...        ...
244  245  134.288028  0.930717 -0.000101 -0.226263  40.530608  23.432676
245  246  135.218667  0.930574 -0.000100 -0.227783  40.793202  23.426512
246  247  136.149205  0.930497 -0.000100 -0.229305  41.056168  23.420332
247  248  137.079643  0.930397 -0.000100 -0.230828  41.319473  23.414136
248  249  138.009980  0.930287 -0.000100 -0.232352  41.583195  23.407924

[249 rows x 7 columns]

In [20]:
[df1['call']]

0       -0.000462
1       -0.001225
2       -0.002166
3       -0.003247
4       -0.004444
          ...
244    134.288028
245    135.218667
246    136.149205
247    137.079643
248    138.009980
Name: call, Length: 249, dtype: float64

In [9]:
df2

       S        call     delta     gamma      Vega      theta        rho
0      1   -0.000259 -0.000366 -0.000152 -0.000006   0.000932  -0.000027
1      2   -0.000690 -0.000488 -0.000101 -0.000015   0.002468  -0.000071
2      3   -0.001224 -0.000577 -0.000079 -0.000027   0.004361  -0.000126
3      4   -0.001838 -0.000649 -0.000067 -0.000040   0.006531  -0.000190
4      5   -0.002520 -0.000712 -0.000059 -0.000055   0.008935  -0.000260
..   ...         ...       ...       ...       ...        ...        ...
244  245  139.784156  0.962999 -0.000053 -0.118760  20.354926  24.037529
245  246  140.747127  0.962962 -0.000053 -0.119554  20.499630  24.034294
246  247  141.710045  0.962876 -0.000053 -0.120348  20.644518  24.031050
247  248  142.672911  0.962832 -0.000053 -0.121143  20.789571  24.027798
248  249  143.635723  0.962797 -0.000052 -0.121939  20.934823  24.024538

[249 rows x 7 columns]

In [10]:
df3

       S        call     delta     gamma      Vega     theta        rho
0      1    0.000127  0.000252  0.000249  0.000009 -0.000530   0.000031
1      2    0.000503  0.000500  0.000249  0.000037 -0.002106   0.000124
2      3    0.001128  0.000749  0.000249  0.000084 -0.004721   0.000280
3      4    0.002002  0.000998  0.000249  0.000150 -0.008370   0.000498
4      5    0.003124  0.001247  0.000249  0.000234 -0.013049   0.000778
..   ...         ...       ...       ...       ...       ...        ...
244  245  145.703387  0.996927  0.000007  0.016234 -2.797643  24.635402
245  246  146.700309  0.996931  0.000007  0.016102 -2.785256  24.635841
246  247  147.697238  0.996957  0.000007  0.015972 -2.772842  24.636274
247  248  148.694174  0.996958  0.000007  0.015843 -2.760473  24.636703
248  249  149.691117  0.996947  0.000007  0.015716 -2.748118  24.637126

[249 rows x 7 columns]

In [11]:
df4

       S        call     delta     gamma      Vega     theta        rho
0      1    0.000064  0.000125  0.000123  0.000005 -0.000255   0.000015
1      2    0.000251  0.000249  0.000124  0.000019 -0.001022   0.000062
2      3    0.000562  0.000373  0.000124  0.000042 -0.002302   0.000139
3      4    0.000996  0.000497  0.000124  0.000075 -0.004094   0.000248
4      5    0.001555  0.000621  0.000125  0.000117 -0.006401   0.000388
..   ...         ...       ...       ...       ...       ...        ...
244  245  145.667026  0.997241  0.000004  0.008083 -2.643117  24.662618
245  246  146.664243  0.997224  0.000004  0.008018 -2.631953  24.662837
246  247  147.661462  0.997213  0.000003  0.007952 -2.620777  24.663053
247  248  148.658685  0.997224  0.000003  0.007888 -2.609593  24.663266
248  249  149.655912  0.997228  0.000003  0.007825 -2.598495  24.663477

[249 rows x 7 columns]

In [12]:
df5

,S,call,delta,gamma,Vega,theta,rho
0,1,-0.000002,-0.000003,-9.331828e-07,-3.499975e-08,0.000018,-2.033731e-07
1,2,-0.000005,-0.000004,-5.166682e-07,-7.751295e-08,0.000039,-4.504097e-07
2,3,-0.000009,-0.000004,-3.656114e-07,-1.234143e-07,0.000062,-7.171367e-07
3,4,-0.000013,-0.000004,-2.860592e-07,-1.716641e-07,0.000086,-9.975123e-07
4,5,-0.000018,-0.000005,-2.364819e-07,-2.217386e-07,0.000110,-1.288495e-06
...,...,...,...,...,...,...,...
244,245,124.375515,0.895853,-5.137906e-05,-1.156602e-01,77.606963,2.377608e+01
245,246,125.271325,0.895795,-5.127902e-05,-1.163969e-01,77.998894,2.377293e+01
246,247,126.167085,0.895724,-5.119347e-05,-1.171330e-01,78.391007,2.376977e+01
247,248,127.062793,0.895685,-5.109570e-05,-1.178686e-01,78.783302,2.376661e+01
248,249,127.958449,0.895633,-5.100432e-05,-1.186037e-01,79.175763,2.376344e+01

In [13]:
df6

,S,call,delta,gamma,Vega,theta,rho
0,1,4.241100e-07,-3.718196e-08,-5.310091e-07,-1.991591e-08,0.000011,-1.153346e-07
1,2,1.740003e-07,-4.252151e-07,-2.947965e-07,-4.422673e-08,0.000024,-2.561214e-07
2,3,-3.815589e-07,-6.710513e-07,-2.089392e-07,-7.052864e-08,0.000039,-4.084398e-07
3,4,-1.149225e-06,-8.556965e-07,-1.636609e-07,-9.821297e-08,0.000054,-5.687623e-07
4,5,-2.081921e-06,-1.003975e-06,-1.354160e-07,-1.269731e-07,0.000070,-7.353166e-07
...,...,...,...,...,...,...,...
244,245,1.346843e+02,9.450602e-01,-2.759208e-05,-6.210561e-02,40.030628,2.421377e+01
245,246,1.356294e+02,9.450403e-01,-2.753097e-05,-6.249156e-02,40.244066,2.421208e+01
246,247,1.365744e+02,9.450034e-01,-2.747925e-05,-6.287730e-02,40.457573,2.421039e+01
247,248,1.375194e+02,9.449806e-01,-2.741842e-05,-6.326283e-02,40.671196,2.420869e+01
248,249,1.384644e+02,9.449579e-01,-2.736556e-05,-6.364816e-02,40.884933,2.420699e+01

In [14]:
df7

       S        call     delta     gamma          Vega      theta        rho
0      1   -0.000045 -0.000057 -0.000015 -5.784843e-07   0.000128  -0.000003
1      2   -0.000108 -0.000069 -0.000009 -1.380531e-06   0.000301  -0.000007
2      3   -0.000181 -0.000077 -0.000007 -2.296207e-06   0.000496  -0.000012
3      4   -0.000260 -0.000083 -0.000005 -3.294464e-06   0.000707  -0.000017
4      5   -0.000346 -0.000088 -0.000005 -4.358991e-06   0.000931  -0.000023
..   ...         ...       ...       ...           ...        ...        ...
244  245  123.425121  0.882927 -0.000116 -2.616017e-01  80.557292  23.221587
245  246  124.307967  0.882798 -0.000116 -2.630217e-01  80.991950  23.214465
246  247  125.190697  0.882661 -0.000116 -2.644427e-01  81.426997  23.207333
247  248  126.073311  0.882559 -0.000115 -2.658648e-01  81.862473  23.200192
248  249  126.955810  0.882437 -0.000115 -2.672879e-01  82.298374  23.193042

[249 rows x 7 columns]

In [15]:
df8

       S        call     delta     gamma          Vega      theta        rho
0      1   -0.000025 -0.000032 -0.000009 -3.538241e-07   0.000095  -0.000002
1      2   -0.000061 -0.000040 -0.000006 -8.488143e-07   0.000228  -0.000004
2      3   -0.000104 -0.000044 -0.000004 -1.416158e-06   0.000378  -0.000007
3      4   -0.000150 -0.000048 -0.000003 -2.036266e-06   0.000543  -0.000011
4      5   -0.000200 -0.000051 -0.000003 -2.698817e-06   0.000718  -0.000014
..   ...         ...       ...       ...           ...        ...        ...
244  245  134.136150  0.937919 -0.000062 -1.398568e-01  42.051227  23.913002
245  246  135.074030  0.937857 -0.000062 -1.406154e-01  42.291154  23.909194
246  247  136.011848  0.937773 -0.000062 -1.413747e-01  42.531315  23.905382
247  248  136.949604  0.937719 -0.000062 -1.421346e-01  42.771734  23.901564
248  249  137.887298  0.937672 -0.000061 -1.428951e-01  43.012366  23.897741

[249 rows x 7 columns]

In [16]:
df9

       S        call     delta     gamma      Vega     theta        rho
0      1    0.002135  0.003453  0.002133  0.000080 -0.009176   0.000330
1      2    0.006551  0.005299  0.001637  0.000246 -0.027863   0.001012
2      3    0.012624  0.006807  0.001402  0.000473 -0.053353   0.001950
3      4    0.020105  0.008132  0.001256  0.000754 -0.084588   0.003105
4      5    0.028847  0.009334  0.001154  0.001082 -0.120933   0.004456
..   ...         ...       ...       ...       ...       ...        ...
244  245  146.439286  1.002572  0.000015  0.033038 -6.919859  24.797030
245  246  147.441854  1.002577  0.000015  0.033212 -6.937793  24.797929
246  247  148.444437  1.002593  0.000015  0.033387 -6.955764  24.798830
247  248  149.447034  1.002633  0.000015  0.033562 -6.973883  24.799731
248  249  150.449646  1.002618  0.000015  0.033738 -6.992025  24.800634

[249 rows x 7 columns]

In [17]:
df10

       S        call     delta     gamma      Vega     theta        rho
0      1    0.001037  0.001685  0.001055  0.000040 -0.004324   0.000162
1      2    0.003200  0.002601  0.000814  0.000122 -0.013276   0.000501
2      3    0.006186  0.003353  0.000700  0.000236 -0.025589   0.000968
3      4    0.009876  0.004015  0.000629  0.000377 -0.040762   0.001546
4      5    0.014197  0.004618  0.000579  0.000543 -0.058492   0.002223
..   ...         ...       ...       ...       ...       ...        ...
244  245  145.967629  0.999611  0.000006  0.014147 -4.115384  24.733550
245  246  146.967231  0.999594  0.000006  0.014219 -4.115515  24.733935
246  247  147.966840  0.999606  0.000006  0.014291 -4.115736  24.734321
247  248  148.966455  0.999630  0.000006  0.014364 -4.115961  24.734707
248  249  149.966076  0.999638  0.000006  0.014437 -4.116251  24.735093

[249 rows x 7 columns]

In [18]:
df11

,S,call,delta,gamma,Vega,theta,rho
0,1,7.565486e-07,6.051047e-07,-1.597034e-07,-5.989791e-09,0.000007,-3.784491e-08
1,2,1.299192e-06,4.922407e-07,-8.294888e-08,-1.244438e-08,0.000015,-7.862863e-08
2,3,1.755355e-06,4.242343e-07,-5.654372e-08,-1.908668e-08,0.000022,-1.205991e-07
3,4,2.153968e-06,3.746351e-07,-4.308245e-08,-2.585381e-08,0.000030,-1.633593e-07
4,5,2.509075e-06,3.364199e-07,-3.489051e-08,-3.271534e-08,0.000038,-2.067177e-07
...,...,...,...,...,...,...,...
244,245,8.200249e+01,7.219214e-01,-5.650989e-05,-1.272038e-01,210.682386,2.371658e+01
245,246,8.272438e+01,7.218645e-01,-5.646186e-05,-1.281456e-01,211.609213,2.371311e+01
246,247,8.344621e+01,7.217949e-01,-5.640374e-05,-1.290587e-01,212.536115,2.370964e+01
247,248,8.416798e+01,7.217473e-01,-5.633638e-05,-1.299461e-01,213.463109,2.370615e+01
248,249,8.488970e+01,7.216855e-01,-5.625694e-05,-1.308103e-01,214.390171,2.370265e+01

In [19]:
df12

,S,call,delta,gamma,Vega,theta,rho
0,1,0.000002,0.000002,-1.048619e-07,-3.932923e-09,0.000005,-2.471636e-08
1,2,0.000004,0.000002,-5.468033e-08,-8.203377e-09,0.000011,-5.155444e-08
2,3,0.000005,0.000002,-3.736029e-08,-1.261123e-08,0.000017,-7.925585e-08
3,4,0.000007,0.000002,-2.851270e-08,-1.711078e-08,0.000023,-1.075350e-07
4,5,0.000008,0.000002,-2.312113e-08,-2.167950e-08,0.000029,-1.362490e-07
...,...,...,...,...,...,...,...
244,245,111.093091,0.847399,-3.492033e-05,-7.860694e-02,123.926471,2.412978e+01
245,246,111.940470,0.847363,-3.480196e-05,-7.899773e-02,124.483731,2.412764e+01
246,247,112.787815,0.847325,-3.469253e-05,-7.938784e-02,125.041132,2.412550e+01
247,248,113.635124,0.847293,-3.458197e-05,-7.977737e-02,125.598622,2.412336e+01
248,249,114.482400,0.847270,-3.447028e-05,-8.016636e-02,126.156228,2.412121e+01

In [ ]:
call =